.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.links a {
    padding: .5em;
    background-color: #221f1f;
    border-radius: 25%;
}
.links a.s_mastodon      { fill: #3088d4; }
.links a.s_twitter       { fill: #1da1f2; }
.links a.s_github        { fill: #ffffff; }
.links a.s_stackoverflow { fill: #f48024; }
.links a.s_devto         { fill: #ffffff; }
.links a.s_discord       { fill: #7289DA; }
.links a.s_paypal        { fill: #009cde; }
.links a.s_twitch        { fill: #4b367c; }

main section {
    border-top: 1px solid #777;
}
main section h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-top: .5em;
}
main section span {
    display: flex;
    flex-direction: row;
    align-items: center;
}
main section span + span::before {
    content: " - ";
}
main section span a {
    display: inline-block;
    margin: .2em;
}
main section span img {
    display: inline-block;
    margin: .2em;
}
main p span::after {
    content: ", ";
}
main p span:last-child::after {
    content: "";
}
