.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.links a {
    padding: .5em;
    background-color: #221f1f;
    border-radius: 25%;
}
.links a:nth-child(1) { fill: #3088d4; }
.links a:nth-child(2) { fill: #1da1f2; }
.links a:nth-child(3) { fill: #ffffff; }
.links a:nth-child(4) { fill: #f48024; }
.links a:nth-child(5) { fill: #ffffff; }
.links a:nth-child(6) { fill: #009cde; }
.links a:nth-child(7) { fill: #4b367c; }

main section {
    border-top: 1px solid #777;
}
main section span + span::before {
    content: " - ";
}
main p span::after {
    content: ", ";
}
main p span:last-child::after {
    content: "";
}
