body {
    margin: 0;
    background-color: #221f1f;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/folk-pattern-black.png");
    color: white;
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 75em) 1fr;
}
main {
    grid-column: 2 / 3;
    background: #221f1f;
    border: .5em solid #333;
    padding: 1em;
    margin: 1em;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
    color: goldenrod;
}
a:hover {
    text-decoration: underline;
}
footer {
    grid-column: 1 / 4;
    background: #221f1f;
    border-top: .5em solid #333;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 75em) 1fr;
}
footer section {
    grid-column: 2 / 3;
    padding: 0 1em;
    margin: 0 1em;
    border: .5em solid transparent;
    border-top-width: 0;
}
